@model IEnumerable<ERP_Project.Models.RegisterClass>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isPaid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section.ClassNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student.IdUser)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isPaid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section.ClassNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student.IdUser)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.registerclasses }) |
            @Html.ActionLink("Details", "Details", new { id=item.registerclasses }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.registerclasses })
        </td>
    </tr>
}

</table>
