@model ERP_Project.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<link rel="stylesheet" href="path/to/sweetalert2.min.css">

<section class="hero-section overlay bg-cover" data-background="theme/images/banner/img2.jpg">
    <div class="container">
        <div class="hero-slider" style="background-color:white;padding:30px;">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4>Create a new account.</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <input id="registerButton" type="submit" class="btn btn-primary btn-sm" value="Register" />

                    </div>
                </div>
            }


        </div>
    </div>
</section>

@*<script>
    $(document).ready(function () {
        $('#registerButton').click(function () {
            Swal.fire({
                title: 'Register',
                text: 'Are you sure you want to register?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, register!'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Do something when the user clicks the "Yes, register!" button
                    // For example, submit the registration form
                    $('#registrationForm').submit();
                }
            });
        });
    });
</script>*@







@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
