@model IEnumerable<ERP_Project.Models.Section>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<br />
<h2 style="text-align:center">Sections</h2>
<br />
<p class="container">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })

</p>
@using (Html.BeginForm("Search", "AdminSections"))
{

    <div class="input-group">

        <input class="form-control" type="text" name="searchQuery" placeholder="Enter Subject Name" aria-label="Search for..." aria-describedby="btnNavbarSearch" />
        <input type="submit" value="Search" name="Name" style="padding: 6px 10px;" class="btn btn-primary">
    </div>
    <table class="table table-striped table-hover ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ClassNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Days)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject.Subject_Name)
            </th>
            <th>
                Actions
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Days)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instructor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Subject_Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdSubject }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdSubject }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
}